:root {
  --font-family: "Inter", sans-serif;
}
.hero {
  font-family: "Inter";
}
.container {
  margin: 0 auto;
  padding: 45px 0 0 0;
  width: 686px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  font: 800 40px / 20px var(--font-family);
  letter-spacing: 5%;
  text-align: center;
  color: #505050;
  margin-bottom: 20px;
}

.hero__subtitle {
  font: 500 24px / 20px var(--font-family);
  letter-spacing: 5%;
  text-align: center;
  color: #505050;
  margin-bottom: 20px;
}

.hero__question {
  user-select:none;
  color: #000;
  font-size: 23px;
  font-weight: 500;
  line-height: 20px; /* 86.957% */
  letter-spacing: 2.3px; 
  margin-bottom: 20px;
}

.hero__form {
  user-select:none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;
}

.hero__answer {
  cursor: pointer;
}

.hero__input {
  display: none;
}

.hero__answer-text {
  font: 400 14px  20px var(--font-family);
  letter-spacing: 5%;
  color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero__answer-text::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #000;
  transition:  0.3s ease-in-out;
}

.hero__input:checked+.hero__answer-text::before{
  background: #505050;
  content: url(/img/Vector\ 1.png);
  border: 0;
  }

.hero__button {
  text-transform: uppercase;
  margin-top: 30px;
  max-width: 237px;
  padding: 14px 51px;
  font: 400 25px / var(--font-family);
  letter-spacing: 16%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background: linear-gradient(194deg, #282c3e 0%, #474f6c 100%);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.hero__button:hover{
  padding: 18px 55px;
}

.hero__button.active{
  display: none;
}
.hero__congrutilation {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: transparent;
  transition: 0.3s ease-in-out;
  
}


.hero__congrutilation--correct::before{
  content: "";
  width: 80px;
  height: 80px;
  background-image: url("/img/Group\ 2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hero__congrutilation--uncorrect::before{
  content: "";
  width: 80px;
  height: 80px;
  background-image: url("/img/Group\ 2\(1\).svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hero__congrutilation.active{
  opacity: 1;
}

.text{
  font: 500 47px  var(--font-family);
  letter-spacing: 11%;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  text-transform: uppercase;
}



.descr{
  max-width: 686px;
}




